body {
    margin: 0;
    padding: 0;
}
.imgViewer-container.loaded[view="gallery"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(170, 170, 170);
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 0 50px 1px rgba(142, 127, 127, 0.89) inset;
    -webkit-box-shadow: 0 0 50px 1px rgba(142, 127, 127, 0.89) inset;
    -moz-box-shadow: 0 0 50px 1px rgba(142, 127, 127, 0.89) inset;
}
.imgViewer-container.loaded[view="gallery"] .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"] .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"] .ImgViewer-desc {
    width: 100%;
    background-color: rgb(224 218 218);
    color: rgb(53 42 42);
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.5vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    word-break: break-all;
    padding-bottom: 5px;
}
.imgViewer-container.loaded[view="gallery"] .ImgViewer-desc a {
    display: block;
    width: 100%;
    color: rgb(29 61 74);
    transition: all 0.05s;
}
.imgViewer-container.loaded[view="gallery"] .ImgViewer-desc a:hover {
    color: rgb(95 94 94) !important;
}
.imgViewer-container.loaded[view="gallery"] .ImgViewer-desc a:visited {
    color: rgb(10 18 196);
}
.imgViewer-container.loaded[view="gallery"] img,
.imgViewer-container.loaded[view="stack"] img,
.imgViewer-container.loaded[view="frame"] img {
    width: 100%;
    height: 100%;
    display: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.imgViewer-container.loaded[view="gallery"].noCaption img,
.imgViewer-container.loaded[view="stack"].noCaption img,
.imgViewer-container.loaded[view="frame"].noCaption img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.imgViewer-container.loaded[view="gallery"].caption,
.imgViewer-container.loaded[view="stack"].caption,
.imgViewer-container.loaded[view="frame"].caption {
    position: relative;
}
.imgViewer-container.loaded[view="gallery"].caption[class*="caption-"] .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption[class*="caption-"] .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"].caption[class*="caption-"] .ImgViewer-desc {
    background-color: rgba(244, 244, 244, 0.8);
    height: auto;
    width: auto;
    border-radius: 5px;
    visibility: hidden;
    font-size: 2.5vh;
    align-items: normal;
    justify-items: normal;
    padding: 5px;
}
.imgViewer-container.loaded[view="gallery"].caption[class*="caption-"] img,
.imgViewer-container.loaded[view="stack"].caption[class*="caption-"] img,
.imgViewer-container.loaded[view="frame"].caption[class*="caption-"] img {
    border-radius: 5px;
}
.imgViewer-container.loaded[view="gallery"].caption.caption-tl .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-tl .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-tl .ImgViewer-desc {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    text-align: left;
}
.imgViewer-container.loaded[view="gallery"].caption.caption-tr .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-tr .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"].caption.caption-tr .ImgViewer-desc {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, 0%);
    text-align: right;
}
.imgViewer-container.loaded[view="gallery"].caption.caption-ct .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-ct .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"].caption.caption-ct .ImgViewer-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.imgViewer-container.loaded[view="gallery"].caption.caption-bl .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-bl .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"].caption.caption-bl .ImgViewer-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0%, 0%);
    text-align: left;
}
.imgViewer-container.loaded[view="gallery"].caption.caption-br .ImgViewer-desc,
.imgViewer-container.loaded[view="stack"].caption.caption-br .ImgViewer-desc,
.imgViewer-container.loaded[view="frame"].caption.caption-br .ImgViewer-desc {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 0%);
    text-align: right;
}
.imgViewer-container.loaded[view="gallery"] .view,
.imgViewer-container.loaded[view="stack"] .view,
.imgViewer-container.loaded[view="frame"] .view {
    height: 100%;
    position: relative;
    margin-bottom: 10px;
    transition: transform 0.5s, visibility 0.3s ease-in-out;
}
.imgViewer-container.loaded[view="gallery"].hoverable .view:hover {
    transform: scale(1.06);
}
.imgViewer-container.loaded[view="gallery"].caption .view:hover > .ImgViewer-desc {
    visibility: visible;
}
.imgViewer-container.loaded[view="gallery"][ws="1x"] .view {
    width: 100%;
}
.imgViewer-container.loaded[view="gallery"][ws="2x"] .view {
    width: calc(100% - 53%);
}
.imgViewer-container.loaded[view="gallery"][ws="3x"] .view {
    width: calc(100% - 68%);
}
.imgViewer-container.loaded[view="gallery"][ws="4x"] .view {
    width: calc(100% - 76%);
}
.imgViewer-container.loaded[view="gallery"][ws="5x"] .view {
    width: calc(100% - 82%);
    padding-bottom: 4%;
}
.imgViewer-container.loaded[view="gallery"][ws="6x"] .view {
    width: calc(100% - 84%);
}
.imgViewer-container.loaded[view="gallery"][ws="7x"] .view {
    width: calc(100% - 86%);
}
.imgViewer-container.loaded[view="gallery"][ws="8x"] .view {
    width: calc(100% - 88%);
}
.imgViewer-container.loaded.ImgViewer-viewable .view {
    cursor: zoom-in;
}
.ImgViewer-viewImg:not(.curtain):not(.slideshow) + .imgViewer-container.loaded a {
    width: 0;
    height: 0;
}
.ImgViewer-viewImg:not(.curtain):not(.slideshow).opened + .imgViewer-container.loaded a {
    width: 100%;
    height: 100%;
}
.ImgViewer-viewImg:not(.curtain):not(.slideshow) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    margin: 0;
    cursor: zoom-out;
    transition: all 0.5s ease-in-out;
}
.ImgViewer-viewImg.curtain + .imgViewer-container.loaded a {
    width: 100%;
    height: 0;
}
.ImgViewer-viewImg.curtain.opened + .imgViewer-container.loaded a {
    width: 100%;
    height: 100%;
}
.ImgViewer-viewImg.curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 100%;
    cursor: zoom-out;
    transition: all 0.5s ease-in-out;
}
.ImgViewer-viewImg.slideshow + .imgViewer-container.loaded a {
    width: 0;
    height: 100%;
}
.ImgViewer-viewImg.slideshow.opened + .imgViewer-container.loaded a {
    width: 100%;
    height: 100%;
}
.ImgViewer-viewImg.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    margin: 0;
    height: 100%;
    cursor: zoom-out;
    transition: all 0.5s ease-in-out;
}
.ImgViewer-viewImg.static {
    cursor: auto;
}
.ImgViewer-viewImg .ImgViewer-close {
    cursor: pointer;
    color: #fff;
}
.ImgViewer-viewImg img,
.ImgViewer-viewImg video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 5px;
}
.ImgViewer-viewImg p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #000;
    background-color: rgba(224, 218, 218, 0.8);
    display: block;
    width: 50%;
    height: 50%;
    visibility: hidden;
    transition: all 0.2s;
    z-index: 1;
    font-size: 5vh;
    word-break: break-all;
    text-align: center;
    border-radius: 5px;
    cursor: help;
}
.ImgViewer-viewImg p span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ImgViewer-viewImg p a {
    display: inline-block;
    height: fit-content;
}
.ImgViewer-viewImg img:hover + p,
.ImgViewer-viewImg p:hover {
    visibility: visible;
}
.ImgViewer-viewImg nav,
.ImgViewer-viewImg nav a {
    color: white;
    font-size: 5vh;
}
.ImgViewer-viewImg nav {
    margin: 1em;
    cursor: auto;
}
.ImgViewer-viewImg nav .nav-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.imgViewer-container.loaded[view="stack"] {
    width: 300px;
    height: 350px;
    line-height: 0;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(400px) rotateY(0deg);
    transition: 0.2s;
}
.imgViewer-container.loaded[view="stack"]:hover {
    transform: perspective(450px) rotateY(25deg);
}
.imgViewer-container.loaded[view="stack"]:hover div.box img {
    filter: blur(0px);
}
.imgViewer-container.loaded[view="stack"] img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.imgViewer-container.loaded[view="stack"] .view {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: 0.2s;
    cursor: zoom-in;
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(1) {
    transform: translateZ(0px) translateX(0px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(2) {
    transform: translateZ(-40px) translateX(-40px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(2) img {
    filter: blur(1px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(3) {
    transform: translateZ(-80px) translateX(-80px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(3) img {
    filter: blur(2px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(4) {
    transform: translateZ(-120px) translateX(-120px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(4) img {
    filter: blur(3px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(5) {
    transform: translateZ(-160px) translateX(-160px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(5) img {
    filter: blur(4px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(6) {
    transform: translateZ(-200px) translateX(-200px);
}
.imgViewer-container.loaded[view="stack"] .view:nth-of-type(6) img {
    filter: blur(5px);
}
.imgViewer-container.loaded[view="stack"] .view:focus {
    transform: translateZ(120px) translateZ(0px);
    outline: none;
}
.imgViewer-container.loaded[view="stack"] .view:focus img {
    filter: blur(0px);
}
.imgViewer-container.loaded[view="stack"] .ImgViewer-desc {
    width: 100%;
    background-color: rgb(224 218 218);
    color: rgb(53 42 42);
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    word-break: break-all;
    padding-bottom: 15px;
    padding-top: 15px;
}
.imgViewer-container.loaded[view="frame"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.imgViewer-container.loaded[view="frame"] img {
    position: relative;
}
.imgViewer-container.loaded[view="frame"].portrait {
    max-height: 100%;
    background-color: #8a8a7b;
    padding: 2.5vh 2.5vw;
}
.imgViewer-container.loaded[view="frame"].portrait img {
    width: calc(100vw - 40vw);
    height: 100%;
}
.imgViewer-container.loaded[view="frame"].landscape {
    max-width: 100%;
    background-color: #8a8a7b;
    padding: 2.5vh 2.5vw;
}
.imgViewer-container.loaded[view="frame"].landscape img {
    width: 100%;
    height: calc(100vh - 40vh);
}
.imgViewer-container.loaded[view="card"] {
    border: 8px solid lightgray;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 320px;
    height: 120px;
}
.imgViewer-container.loaded[view="card"] img {
    width: 8em;
    height: 8em;
    margin: 0;
}
.imgViewer-container.loaded[view="card"] .ImgViewer-desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
}
.imgViewer-container.loaded[view="video"] {
    width: 820px;
    height: 520px;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
}
.imgViewer-container.loaded[view="video"].fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}
.imgViewer-container.loaded[view="video"].theater {
    width: 100vw !important;
}
.imgViewer-container.loaded[view="video"] .view {
    height: inherit;
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
}
.imgViewer-container.loaded[view="video"] .view video {
    width: inherit;
    height: inherit;
}
.imgViewer-container.loaded[view="video"] .view .video-player {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    width: 98%;
    transform: translateY(100%) translateY(-10%);
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    padding: 10px;
}
.imgViewer-container.loaded[view="video"] .view .play-pause-btn {
    width: 10%;
    border: none;
    background: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}
.imgViewer-container.loaded[view="video"] .view:hover .video-player {
    transform: translateY(0%);
}
.imgViewer-container.loaded[view="video"] .view .video-player .video-player-controls {
    width: 100%;
}
.imgViewer-container.loaded[view="video"] .view:hover .video-player .video-player-controls {
    width: 100%;
}
.imgViewer-container.loaded[view="video"] .view .video-player .time {
    display: flex;
    font-size: 1em;
    color: #fff;
    text-align: center;
    font-family: Arial, Helventica, sans-serif;
    align-items: center;
    justify-content: center;
}
.imgViewer-container.loaded[view="video"] .view .video-player input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    width: 75%;
    padding: 0 10px;
}
.imgViewer-container.loaded[view="video"] .view .video-player input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: black;
    border-radius: 15px;
}
.imgViewer-container.loaded[view="video"] .view .video-player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: orangered;
    cursor: pointer;
    border-radius: 50%;
}
.imgViewer-container.loaded[view="video"] .view .video-player .video-progress {
    position: relative;
    display: flex;
    width: 100%;
    height: 5px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
}
.imgViewer-container.loaded[view="video"] .view .video-player .video-progress:focus {
    outline: none;
}
.imgViewer-container.loaded[view="video"] .view .video-player .video-progress .video-progress-filled {
    background-color: orangered;
    width: 0;
    cursor: pointer;
    border-radius: 15px;
}
.imgViewer-container.loaded[view="video"] .view:hover .video-progress {
    height: 20px;
}
.imgViewer-container.loaded .view.noBorder img {
    border-radius: 0 !important;
}
.imgViewer-container.loaded .ctangle,
.imgViewer-container.loaded .rtangle {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: crosshair;
    border-radius: 15px;
}
.imgViewer-container.loaded[view="video"] .view .fullscreen,
.imgViewer-container.loaded[view="video"] .view .mute,
.imgViewer-container.loaded[view="video"] .view .cc,
.imgViewer-container.loaded[view="video"] .view .settings,
.imgViewer-container.loaded[view="video"] .view .theaterMode {
    display: flex;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}
.imgViewer-container.loaded[view="video"] .view .loading-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.imgViewer-container.loaded[view="video"] .view .videoContext {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: all 0.3s;
    display: none;
}
.imgViewer-container.loaded[view="video"] .view .videoContext .isActive {
    color: lime;
}
.imgViewer-container.loaded[view="video"] .view .videoContext ul {
    list-style: none;
    font-size: 5vh;
    margin: 15px;
    padding: 0;
}
.imgViewer-container.loaded[view="video"] .view .videoContext ul li {
    cursor: pointer;
}
.imgViewer-container.loaded[view="video"] .view .loading-circle {
    position: absolute;
    top: 34%;
    left: 41%;
    transform: translate(-34%, -41%);
    border: 16px solid transparent;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: vidLoad 2s linear infinite;
}
@keyframes vidLoad {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.imgViewer-container.loaded[view="video"] .view .errorMsg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: none;
}
.imgViewer-container.loaded[view="video"].pip {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 520px;
    height: 320px;
}
.imgViewer-container.loaded[view="video"] .view .errorMsg .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgViewer-container.loaded[view="video"] .view .errorMsg h1 {
    font-size: 5vh;
    text-align: center;
}
.imgViewer-container.loaded[view="video"] .view .errorMsg p {
    font-size: 2.5vh;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
.imgViewer-container.loaded[view="video"] .view .cc {
    position: relative;
}
.imgViewer-container.loaded[view="video"] .view .cc .ccList {
    position: absolute;
    bottom: 0;
    left: -100%;
    display: block;
    background-color: #444444;
    color: #fff;
    list-style: none;
    text-align: center;
    font-size: 2.3vh;
    padding: 0;
    width: 100px;
    margin-bottom: 20px;
    padding: 3px;
}
.imgViewer-container.loaded[view="video"] .view .cc .ccList.hidden {
    display: none;
}
.imgViewer-container.loaded[view="video"] .view .cc {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: white;
    background-color: transparent;
    cursor: pointer;
    margin-right: 15px;
}
.imgViewer-container.loaded[view="video"] .view .cc.disabled{
	color: #c8c3c3;
}
.imgViewer-container.loaded[view="video"] .view .cc.active i {
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid red;
}
.imgViewer-container.loaded[view="video"] .view .settings button {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
}
.imgViewer-container.loaded[view="video"] .view .settings {
    position: relative;
}
.imgViewer-container.loaded[view="video"] .view .settings .setList {
    position: absolute;
    bottom: 0;
    left: -100%;
    margin-bottom: 25px;
    padding: 5px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 2.8vh;
}
.imgViewer-container.loaded[view="video"] .view .settings .setList.hidden {
    display: none;
}
.imgViewer-container.loaded[view="video"] .view .settings .setList li {
    display: flex;
    margin-bottom: 5px;
}
.imgViewer-container.loaded[view="video"] .view .settings .setList select {
    border: 0;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 2vh;
    cursor: pointer;
}
.imgViewer-container.loaded[view="video"] .view .settings .setList option {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2.3vh;
}
.imgViewer-container.loaded[view="video"] .view .settings.focus button {
    transform: rotate(60deg);
}
